* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: rgb(243,244,246);
}

body {
  background-color: rgb(17,24,39);
  line-height: 2rem;
 }
 
 header h1 {
  text-align: center;
  padding-top: 3rem;
 }

 /* header h1,
 div img {
  margin: 13rem 0;
 } */

 div {
  gap: 2rem;
 }


 div img {
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

 .container {
  width: 85%;
  /* margin: 0 auto; */
  margin: 3rem auto;
 }

 .ingredients-steps p {
  margin-bottom: 2rem;
 }

 ul li,
 ol li {
  margin: 0 0 0em 2rem;
 }



 ul li a{
  color: rgb(169,121,42);
 }
 